/* TASK7 */
#task7 {
    border-width: 5px; /* Set the border width to 5 pixels */
    border-style: dotted; /* Set the border style to dotted */
    border-color: #f300c3; /* Set the border color to red */
}
