table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.reminder1{
    background-color: #7752FE; 
}

.reminder2{
    background-color: #E5D4FF; 
}
.reminder0 {
    background-color: #D0A2F7; /* Yellow for odd numbers */
}
