<!DOCTYPE html>
<html>
<head>
    <title>Welcome to My ASP.NET Core MVC Application</title>
</head>
<body>
    <h1>Welcome to My ASP.NET Core MVC Application</h1>

    <p>Hello</p>

    <p>This is the home page content</p>

    <ul>
        <li><a href="@Url.Action("Index", "Tool")">Task1</a></li>
        <li><a href="@Url.Action("Index", "Game")">Task2</a></li>
    </ul>

</body>
</html>