@{
    ViewData["Title"] = "Solve";
}

<h2>Solve</h2>

<form method="get" action="/Tool/Solve">
    <label for="a">Enter value for a:</label>
    <input type="text" name="a" required>
    <br>

    <label for="b">Enter value for b:</label>
    <input type="text" name="b" required>
    <br>

    <label for="c">Enter value for c:</label>
    <input type="text" name="c" required>
    <br>

    <input type="submit" value="Submit">
</form>
